PORT=3000
GITHUB_TOKEN=your_github_token_here
REPO_OWNER=your_username
REPO_NAME=reels-videos
STORAGE_BRANCH=media


PORT=3000
GITHUB_TOKEN=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
REPO_OWNER=Nikhil-Nishad
REPO_NAME=Upload_Link_Generator
STORAGE_BRANCH=media
